/* обнуляющие стили */
@import url(reset.css);

/* приоритет последней записи */
/* teg teg */
li a {
   color: rgba(48, 22, 7, 0.616);
}

li a {
   color: rgba(189, 118, 77, 0.616);
}

/* селектор идентификатора */
#author {
   color: blueviolet;
}

/* селектор идентификатора имеет больше приоритет, чем селектор класса тега*/
#red {
   color: rgb(43, 139, 107);
}

.red {
   color: blueviolet;
}

/* все объекты div с классом block */
div.block {
   color: red;
}

/* все теги span внутри тегов p */
p span {
   color: hotpink;
}

/* первый элемент p, расположенный после класса after */

.after + p {
   color: rgba(148, 139, 13, 0.623);
}

